@import '../../styles/theme.scss';

.landing-page {
  position: relative;
  text-align: center;
  color: $dark-text;
  background: var(--bs-landing-bg) no-repeat center center fixed;
  background-size: cover; // Ensures the image covers the whole background
  min-height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-bg-overlay); // Slight overlay for text readability
    z-index: 1;
  }

  main {
    position: relative;
    z-index: 2; // Ensures the content is above the background and overlay
  }

  h1 {
    margin-bottom: 1rem;
    color: $dark-text;
    font-weight: 600;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 4.5rem;
    color: $dark-text;
  }

  h3 {
    font-size: 0.9rem;
    font-weight: 400;
    color: $dark-text;
  }

  a.login {
    margin-top: 5rem;
    font-size: 2.5rem;
    padding: 0.75rem 1rem;
    color: var(--bs-primary);
    font-weight: 600;
  }

  a.login {
    &:hover {
      font-size: 2.7rem;
      color: var(--bs-primary);
    }
  }

  aside {
    margin-top: 7rem;
  }

  .btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
    width: 9rem;
    &:hover {
      background-color: var(--bs-primary);
      color: #fff;
    }
  }
}

